body{
    background-color: black;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-family: "monospace", Courier, monospace;
    font-size: 32pt;
    

    width: 100%;
    padding: 0%;
    border: 0%;
    margin: 0%;
    text-align: center;
}

div{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
}